
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 40; /*убираем левый отступ, равный 40px*/
}

a {
  text-decoration: none;
  font-family: 'FRANKLIN GOTHIC BOOK', serif;

}
.menu a {
  padding: 0;
  background: #F3F3F3; /*цвет списка*/
  border: 1px solid #F3F3F3; /*цвет границы*/
  color: #000000;

}
.menu a:hover {background: #2168CC; color: #FFFFFF; border: 1px solid #2168CC;} /*цвет списка после касания*/
.menu li {
  display: inline; /*горизонт меню*/
   
}
